dagster==1.7.10
dagster-webserver==1.7.10
dagster-graphql==1.7.10
dagster-postgres==0.23.10
dagster-docker==0.23.10
dagster-aws==0.23.10
dagster-dbt==0.23.10
dagster-pandas==0.23.10
dagster-pandera==0.23.10
pandera==0.19.3
dagster-shell
dask==2024.4.1
dask-expr==1.0.11
distributed
oracledb==2.0.1
pandas
pyarrow
requests
requests_mock==1.11.0
cpi==1.1.1
datasets
python-dateutil
matplotlib
sqlalchemy==2.0.25
datasets==2.15.0
plotly==5.22.0
prophet==1.1.5
pydantic==1.10.13
pytest-mock==3.12.0
psycopg2-binary==2.9.9
pytz==2023.4
openpyxl==3.1.2
xlrd==2.0.1
urllib3==2.2.1
certifi==2024.6.2
tenacity==8.3.0
