dagster-webserver==1.6.1
dagster==1.6.1
dagster-graphql==1.6.1
dagster-postgres==0.22.1
dagster-docker==0.22.1
dagster-aws==0.22.1
dagster-dbt==0.22.1
dagster-pandas==0.22.1
dagster-pandera==0.22.1
dagster-shell
distributed
pandas
pandera==0.18.0
pyarrow
requests
cpi==1.1.1
datasets
python-dateutil
matplotlib
tenacity
sqlalchemy==2.0.25
dask==2023.12.0
datasets==2.15.0
dbt-core==1.7.4
dbt-postgres==1.7.4
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.4.2
pydantic==1.10.13
psycopg2==2.9.9
pytz
