dagster==1.12.22
dagster-webserver==1.12.22
dagster-graphql==1.12.22
dagster-postgres==0.28.22
dagster-aws==0.28.22
dagster-docker==0.28.22
dagster-pipes
dagster-dbt==0.28.22
dagster-pandas==0.28.22
dagster-pandera==0.28.22
distributed
pandas
pandera
pyarrow
requests
playwright
datasets
python-dateutil
matplotlib
tenacity
dask==2023.12.0
datasets==2.15.0
dbt-core==1.11.7
dbt-postgres==1.10.0
dbt-extractor==0.5.1
pydantic==2.11.1
